node-red/flow.json

[
    {
        "id": "c7a9a2a8.a2a3e",
        "type": "tab",
        "label": "ESP32 Sensor Dashboard",
        "disabled": false,
        "info": ""
    },
    {
        "id": "da6f3c3e.a01b4",
        "type": "mqtt in",
        "z": "c7a9a2a8.a2a3e",
        "name": "ESP32 Sensor Data",
        "topic": "esp32/sensor_data",
        "qos": "2",
        "datatype": "auto",
        "broker": "b8f278d.f470d88",
        "x": 160,
        "y": 200,
        "wires": [
            [
                "e8e0b6f1.171f48"
            ]
        ]
    },
    {
        "id": "e8e0b6f1.171f48",
        "type": "json",
        "z": "c7a9a2a8.a2a3e",
        "name": "Parse JSON",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 350,
        "y": 200,
        "wires": [
            [
                "a1e9b8d4.5e1648",
                "2b3a1b3e.d4c5e4",
                "a6f3e1a.f590c2"
            ]
        ]
    },
    {
        "id": "a1e9b8d4.5e1648",
        "type": "ui_gauge",
        "z": "c7a9a2a8.a2a3e",
        "name": "Temperature",
        "group": "d1e3f3c3.2e1c1",
        "order": 1,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "Temperature",
        "label": "°C",
        "format": "{{value | number:1}}",
        "min": 0,
        "max": 50,
        "colors": ["#00b500", "#e6e600", "#ca3838"],
        "seg1": "",
        "seg2": "",
        "x": 560,
        "y": 140,
        "wires": []
    },
    {
        "id": "2b3a1b3e.d4c5e4",
        "type": "ui_gauge",
        "z": "c7a9a2a8.a2a3e",
        "name": "Humidity",
        "group": "d1e3f3c3.2e1c1",
        "order": 2,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "Humidity",
        "label": "%",
        "format": "{{value | number:1}}",
        "min": 0,
        "max": 100,
        "colors": ["#00b500", "#e6e600", "#ca3838"],
        "seg1": "",
        "seg2": "",
        "x": 550,
        "y": 200,
        "wires": []
    },
    {
        "id": "a6f3e1a.f590c2",
        "type": "ui_gauge",
        "z": "c7a9a2a8.a2a3e",
        "name": "CO2 Level",
        "group": "d1e3f3c3.2e1c1",
        "order": 3,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "CO2 Level",
        "label": "ppm",
        "format": "{{value}}",
        "min": 300,
        "max": 2000,
        "colors": ["#00b500", "#e6e600", "#ca3838"],
        "seg1": "1000",
        "seg2": "1500",
        "x": 550,
        "y": 260,
        "wires": []
    },
    {
        "id": "b8f278d.f470d88",
        "type": "mqtt-broker",
        "name": "Public HiveMQ",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "d1e3f3c3.2e1c1",
        "type": "ui_group",
        "name": "ESP32 Live Data",
        "tab": "a3b3c3d.f5c4d4",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "a3b3c3d.f5c4d4",
        "type": "ui_tab",
        "name": "Dashboard",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
